---
import Section from "@/components/Section.astro"

import {work} from "@/cv.json"
---

<Section title="Experience">
    <ul>
      {work.map(({ name, startDate, endDate, position, summary, highlights }) => {
        return (
          <li>
            <h3>{name}</h3>
            <h4>{position}</h4>
            <p>{summary}</p>
          </li>
        );
      })}
    </ul>
  </Section>
  